name: Deploy to EC2.

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy to EC2 and Restart PM2
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            set -e
            cd /home/ubuntu/simple-python-project
            git pull origin main
            source venv/bin/activate
            pip install -r .requirements.txt
            # Restart or start the app using PM2
            pm2 restart flask-app || pm2 start /home/ubuntu/simple-python-project/start.sh --name "flask-app"
            pm2 save
